.aqua {
  border-color: aqua;
  color: aqua;
}
.aquamarine {
  border-color: aquamarine;
  color: aquamarine;
}
.pink {
  border-color: pink;
  color: pink;
}
.green {
  border-color: green;
  color: green;
}
.orange {
  border-color: orange;
  color: orange;
}
.blue {
  border-color: blue;
  color: blue;
}
.red {
  border-color: red;
  color: red;
}
.darkolivegreen {
  border-color: darkolivegreen;
  color: darkolivegreen;
}
.aliceblue {
  border-color: aliceblue;
  color: aliceblue;
}
.antiquewhite {
  border-color: antiquewhite;
  color: antiquewhite;
}
.azure {
  border-color: azure;
  color: azure;
}
.beige {
  border-color: beige;
  color: beige;
}
.bisque {
  border-color: bisque;
  color: bisque;
}
.blueviolet {
  border-color: blueviolet;
  color: blueviolet;
}
.brown {
  border-color: brown;
  color: brown;
}
.burlywood {
  border-color: burlywood;
  color: burlywood;
}
.cadetblue {
  border-color: cadetblue;
  color: cadetblue;
}
.chartreuse {
  border-color: chartreuse;
  color: chartreuse;
}
.chocolate {
  border-color: chocolate;
  color: chocolate;
}
//////

// {
// 	name: "data-frame",
// 	color: "coral",
// 	...defaultValues,
// },
// {
// 	name: "unity",
// 	color: "cornflowerblue",
// 	...defaultValues,
// },
// {
// 	name: "unreal-engine",
// 	color: "cornsilk",
// 	...defaultValues,
// },
// {
// 	name: "elasticsearch",
// 	color: "crimson",
// 	...defaultValues,
// },
// {
// 	name: "matplotlib",
// 	color: "cyan",
// 	...defaultValues,
// },
// {
// 	name: "go",
// 	color: "deeppink",
// 	...defaultValues,
// },
// {
// 	name: "jenkins",
// 	color: "deepskyblue",
// 	...defaultValues,
// },
// {
// 	name: "selenium",
// 	color: "dodgerblue",
// 	...defaultValues,
// },
// {
// 	name: "gradle",
// 	color: "firebrick",
// 	...defaultValues,
// },
// {
// 	name: "machine-learning",
// 	color: "floralwhite	",
// 	...defaultValues,
// },
// {
// 	name: "amazon-s3",
// 	color: "forestgreen",
// 	...defaultValues,
// },
// {
// 	name: "vue",
// 	color: "fuchsia",
// 	...defaultValues,
// },
// {
// 	name: "ggplot2",
// 	color: "gainsboro",
// 	...defaultValues,
// },
// {
// 	name: "flask",
// 	color: "gold",
// 	...defaultValues,
// },
// {
// 	name: "asp.net-core",
// 	color: "goldenrod",
// 	...defaultValues,
// },
// {
// 	name: "npm",
// 	color: "green",
// 	...defaultValues,
// },
// {
// 	name: "webpack",
// 	color: "greenyellow",
// 	...defaultValues,
// },
// {
// 	name: "mongoose",
// 	color: "honeydew",
// 	...defaultValues,
// },
// {
// 	name: "tkinter",
// 	color: "hotpink",
// 	...defaultValues,
// },
// {
// 	name: "web-scraping",
// 	color: "indianred",
// 	...defaultValues,
// },
// {
// 	name: "spring-security",
// 	color: "",
// 	...defaultValues,
// },
// {
// 	name: "filter",
// 	color: "indigo",
// 	...defaultValues,
// },
// {
// 	name: "https",
// 	color: "ivory",
// 	...defaultValues,
// },
// {
// 	name: "woo-commerce",
// 	color: "khaki",
// 	...defaultValues,
// },
// {
// 	name: "stripe",
// 	color: "lavender",
// 	...defaultValues,
// },
// {
// 	name: "web-socket",
// 	color: "lavenderblush	",
// 	...defaultValues,
// },
// {
// 	name: "ios",
// 	color: "lawngreen",
// 	...defaultValues,
// },
// {
// 	name: "android",
// 	color: "lemonchiffon",
// 	...defaultValues,
// },
// {
// 	name: "kotlin",
// 	color: "lightblue",
// 	...defaultValues,
// },
// {
// 	name: "redux",
// 	color: "lightcoral",
// 	...defaultValues,
// },
// {
// 	name: "sass",
// 	color: "lightcyan",
// 	...defaultValues,
// },
// {
// 	name: "css",
// 	color: "lightgoldenrodyellow",
// 	...defaultValues,
// },
// {
// 	name: "html",
// 	color: "lightgreen",
// 	...defaultValues,
// },
// {
// 	name: "hive",
// 	color: "lightpink",
// 	...defaultValues,
// },
// {
// 	name: "java",
// 	color: "lightsalmon",
// 	...defaultValues,
// },
// {
// 	name: "redis",
// 	color: "lightseagreen",
// 	...defaultValues,
// },
// {
// 	name: "sql",
// 	color: "lightskyblue",
// 	...defaultValues,
// },
// {
// 	name: "cmake",
// 	color: "lightslategray",
// 	...defaultValues,
// },
