@import "../../styling/config";

.messages-box {
  min-width: 76vw;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 66vh;
  .edit-profile-form {
    border-radius: $borderRadius1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 30vh;
    left: 50%;
    margin-left: -18vw;
    top: 20%;
    padding: 1em;
    background-color: $colorGreyHover;
    border: 2px solid $colorPrimary;
    // box-shadow: 0 0 5px 1px $colorPrimary;
    opacity: 0;
    p {
      font-size: 1.5em;
      text-align: center;
    }

    .msg-img-upload-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .search-member-input {
        min-width: 80%;
        margin-top: 2vh;
      }
    }
    .upload-form-btns {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        width: 40%;
      }
    }
    .photo-label {
      text-align: center;
    }
  }
  .messages-title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
    min-height: 8vh;
    max-height: 8vh;
    .conversation-profile-image {
      min-width: 3.5vw;
      max-width: 3.5vw;
      min-height: 3.5vw;
      max-height: 3.5vw;
      border-radius: calc(3.5vw / 2);
      transition: $transition1;
      cursor: pointer;
    }
    .dynamic-conversation-border {
      @extend .conversation-profile-image;
      background-color: $colorShadowLight;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .dynamic-conversation-text-small {
        font-size: $font4;
      }
    }
    .conversation-profile-image:hover {
      transform: scale(1.05);
    }
    .dynamic-conversation-border:hover {
      transform: scale(1.05);
    }

    .messages-title-text {
      font-size: $font3;
      font-weight: 1000;
    }

    .stackable-container-right {
      .messaging-platform-box {
        cursor: pointer;
        background-color: $colorGreyBg;
        border-radius: $borderRadius1;
        margin: 0 0.5vw;
        .connection-platform-image {
          min-width: 2.5vw;
          min-height: 2.5vw;
          max-width: 2.5vw;
          max-height: 2.5vw;
        }
      }
    }

    .options-button:hover {
      color: $colorButtonHover;
      background-color: $colorGreyHover;
    }

    .options-button {
      margin: 0 0;
      background-color: rgba(205, 92, 92, 0);
    }
  }
  .render-chat-dms {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 84vh;
  }
  .render-chat-gangs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .render-chat {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .message-bubble {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      padding: 1vh 1vw;
      margin: 1vh 0;
      .mssg-avatar-container {
        display: flex;
        align-items: start;
        margin-top: 1vh;
        .mssg-avatar {
          width: 3.5vh;
          height: 3.5vh;
          min-height: 3.5vh;
          min-width: 3.5vh;
          object-fit: cover;
          border-radius: calc(3.5vh / 2);
          margin-right: 1vw;
        }
        .dynamic-avatar-border {
          @extend .mssg-avatar;
          background-color: $colorShadowLight;
          display: flex;
          justify-content: center;
          align-items: center;
          .dynamic-avatar-text-med {
            font-size: $font1;
          }
        }
      }
      .mssg-main-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        .message-sender-box {
          min-width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1vh;
          .sender-specific {
            display: flex;
            align-items: center;
            .message-sender-name {
              font-size: $font1;
              font-weight: 600;
              color: $colorPrimary;
              margin: 0 1vw;
              transition: $transition1;
              cursor: pointer;
            }
            .message-sender-name:hover {
              transform: scale(1.05);
            }
          }
          .message-details {
            display: flex;
            align-items: center;
            .message-timestamp {
              font-size: $font1;
              color: $colorTextAlt;
              margin: 0 1vw;
            }
            .reaction-button {
              margin: 0 0;
              background-color: rgba(205, 92, 92, 0);
            }
            .options-button {
              @extend .reaction-button;
            }
            .options-button:hover {
              color: $colorButtonHover;
              background-color: $colorGreyHover;
            }
          }
        }
        .message-content {
          font-size: $font1;
          margin: 0 1vw;
          .user-uploaded-img {
            max-width: 60vw;
            object-fit: cover;
          }
        }
        .reaction-box {
          margin-top: 1vh;
          margin-left: 1vw;
          display: flex;
          align-items: center;
          .mssg-reaction {
            display: flex;
            align-items: center;
            padding: 0.25vw;
            padding-top: 0.1vw;
            margin-right: 0.5vw;
            border-radius: $borderRadius1;
            cursor: pointer;
            transition: $transition1;
            border: 1px solid rgba(255, 255, 255, 0);
            .reaction-count {
              margin-top: 0.5vh;
              color: white;
            }
          }
          .mssg-reaction:hover {
            background-color: $colorGreyPop;
            border: 1px solid white;
          }
        }
      }
    }
    .message-border-owner {
      border-radius: $borderRadius1;
      margin-left: 3vw;
      border: 2px solid $colorGreyPop;
    }
    .message-border-non-owner {
      border-radius: $borderRadius1;
      margin-right: 3vw;
      background-color: $colorGreyPop;
    }
  }
  .message-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2vw;
    height: auto;
    .messaging-input {
      min-width: 85%;
      min-height: 35px;
      height: 80%;
      font-size: $font1;
    }
    button {
      margin-left: 1vw;
    }
  }
  .message-form-no-user {
    @extend .message-form;
    justify-content: center;
    background-color: $colorGreyPop;
    font-size: $font2;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}

@media screen and (max-height: 800px) {
  .messages-box {
    min-height: 92vh;
    .render-chat-dms {
      min-height: 85vh;
    }
    .render-chat-gangs {
      min-height: 70vh;
      max-height: 70vh;
    }
  }
}
@media screen and (max-height: 550px) {
  .messages-box {
    min-height: 73vh;
    .render-chat-dms {
      min-height: 85vh;
    }
    .render-chat-gangs {
      min-height: 70vh;
      max-height: 70vh;
    }
  }
}

@media screen and (max-width: $screenBreak1) {
  .messages-box {
    min-height: 82vh;
    max-height: 92vh;
    .edit-profile-form {
      width: 60vw;
      left: 30%;
      margin-left: -9vw;
    }
    .messages-title-container {
      .conversation-profile-image {
        min-width: 5.5vw;
        max-width: 5.5vw;
        min-height: 5.5vw;
        max-height: 5.5vw;
        border-radius: calc(5.5vw / 2);
      }
      .stackable-container-right {
        .messaging-platform-box {
          .connection-platform-image {
            min-width: 4vw;
            min-height: 4vw;
          }
        }
      }
    }
    .render-chat-dms {
      min-height: 85vh;
    }
    .render-chat-gangs {
      min-height: 76vh;
      max-height: 76vh;
    }
  }
}
@media screen and (max-width: $screenBreak2) {
  .messages-box {
    .edit-profile-form {
      width: 80vw;
      left: 17%;
      margin-left: -2vw;
    }
    .messages-title-container {
      .conversation-profile-image {
        min-width: 10vw;
        max-width: 10vw;
        min-height: 10vw;
        max-height: 10vw;
        border-radius: calc(10vw / 2);
      }
      .stackable-container-right {
        .messaging-platform-box {
          .connection-platform-image {
            min-width: 5vw;
            min-height: 5vw;
          }
        }
      }
    }

    .messaging-input {
      min-width: 70% !important;
    }
  }
}
