@import '../../styling/config';

.connection-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $colorGreyPop;
	border-radius: $borderRadius1;
	padding: 1vw;
	margin: 2vh 0;
	.connection-main-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		min-height: 15vh;
		.accept-button {
			background: $colorSecondary;
		}
		.accept-button:hover {
			background: $colorSecondaryDarker;
		}
	}
	.incoming-message {
		display: flex;
		.incoming-message-title {
			color: $colorPrimary;
			margin: 0 1vw;
		}
		.incoming-message-content {
			margin: 0 1vw;
		}
	}
}

.connection-user-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 35%;
	max-width: 35%;
	min-height: 14vh;
	.connection-name {
		font-size: $font4;
	}
	.connection-game-image {
		min-width: 3vw;
		max-width: 3vw;
		opacity: 0.6;
		margin: 0.5vw 0;
	}
	.connection-profile-image {
		min-width: 6vw;
		max-width: 6vw;
		min-height: 6vw;
		max-height: 6vw;
		border-radius: calc(6vw / 2);
		transition: $transition1;
		cursor: pointer;
	}
	.dynamic-avatar-border {
		@extend .connection-profile-image;
		background-color: $colorShadowLight;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		.dynamic-avatar-text-small {
			font-size: $font4;
		}
	}
	.connection-profile-image:hover {
		transform: scale(1.05);
	}
	.dynamic-avatar-border:hover {
		transform: scale(1.05);
	}
}

.connection-platform-image {
	min-width: 3vw;
	max-width: 3vw;
	opacity: 0.6;
	margin: 0.5vw 0.5vw;
}

.connection-chat-platform-container {
	display: flex;
	align-items: center;
	min-width: 35%;
	max-width: 35%;
	.connection-chat-platform-box {
		cursor: pointer;
		background-color: $colorGreyBg;
		border-radius: $borderRadius1;
		margin: 0 0.5vw;
	}
	.connection-chat-platform-box:hover {
		outline-style: solid;
		outline-width: 2px;
		outline-color: rgba(255, 255, 255, 0.6);
	}
	.connection-chat-platform-text {
		font-size: $font2;
		margin-left: 0.5vw;
	}
}

.p-menu {
	background: $colorGreyPop;
	border-radius: $borderRadius1;
	box-shadow: 1px 1px 4px 0 $colorShadowDark;
	.p-submenu-header {
		margin: 1vh 0.5vw;
	}
	.p-menuitem {
		margin: 1vh 0;
		padding: 1vh 0.5vw;
	}
	.p-menuitem:hover {
		background: $colorShadowLight;
	}
}

@media screen and (max-width: $screenBreak1) {
	.connection-profile-image {
		min-width: 65px !important;
		max-width: 65px !important;
		min-height: 65px !important;
		max-height: 65px !important;
		border-radius: calc(65px / 2) !important;
	}
}

@media screen and (max-width: $screenBreak2) {
	.connection-profile-image {
		min-width: 55px !important;
		max-width: 55px !important;
		min-height: 55px !important;
		max-height: 55px !important;
		border-radius: calc(55px / 2) !important;
	}
}
