@import "../../styling/config";

.connection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 2vh 0;
}

.connection-user-box {
  display: flex;
  align-items: center;
  min-width: 30%;
  max-width: 30%;
  div {
    margin-left: 1.5vw;
  }
}

.connection-profile-image {
  min-width: 6vw;
  max-width: 6vw;
}

.connection-platform-image {
  min-width: 3vw;
  max-width: 3vw;
  opacity: 0.6;
}

.connection-name {
  font-size: $font4;
}
