@import '../../styling/config';

.alt-banner-box {
	min-width: 96vw;
	margin: 2vh 2vw;
	min-height: 9vh;
	max-height: 9vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(90deg, $colorPrimary, $colorSecondary);
	border-radius: $borderRadius2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		text-align: left;
		font-size: $font3;
		font-weight: 1000;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: fit-content;
		margin-left: 3vh;
	}
	.banner-alt-button {
		margin-right: 3vh;
		transition: $transition1;
		border: 2px solid white;
		font-size: $font2;
		padding: 0.25em;
	}
	.banner-alt-button:hover {
		background-color: transparent;
		transform: scale(1.05);
	}
}

@media screen and (max-width: $screenBreak1) {
	.alt-banner-box {
		h1 {
			font-size: $font2;
		}
		.banner-alt-button {
			font-size: $font2;
		}
	}
}
