@import '../../styling/config';

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2vw;
	min-height: 5vh;
	.header-site-title {
		cursor: pointer;
		font-size: $font3;
		font-weight: 1000;
	}
}

.gradient-bar {
	min-width: 100%;
	min-height: 1px;
	max-height: 1px;
	background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.footer-text {
		min-height: 100%;
		margin: 1vh 0;
		font-size: $font2;
	}
}
