@import "../../styling/config";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.25vw;
  min-height: 5vh;
  max-height: 5vh;
  .site-titlebar-image {
    cursor: pointer;
    max-width: 2vw;
    max-height: 2vw;
    object-fit: cover;
  }
}

.gradient-bar {
  min-width: 100%;
  min-height: 1px;
  max-height: 1px;
  background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .footer-text {
    min-height: 100%;
    margin: 1vh 0;
    font-size: $font2;
  }
}

@media screen and (max-width: $screenBreak1) {
  .header-container {
    .site-titlebar-image {
      max-width: 3.5vw;
      max-height: 3.5vw;
    }
  }
}

@media screen and (max-width: 650px) {
  .header-container {
    .site-titlebar-image {
      max-width: 4.5vw;
      max-height: 4.5vw;
    }
  }
}
@media screen and (max-width: $screenBreak2) {
  .header-container {
    .site-titlebar-image {
      max-width: 6.5vw;
      max-height: 6.5vw;
    }
  }
}
@media screen and (max-width: $screenBreak3) {
  .header-container {
    .site-titlebar-image {
      max-width: 7.5vw;
      max-height: 7.5vw;
    }
  }
}
