@import '../../styling/config';

.my-profile-overlay {
	margin: 1vh 1vw;
	height: 40px;
	max-height: 40px;
	width: 40vw;
	min-width: 30vw;
	max-width: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.my-profile-overlay-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	// i {
	//   cursor: pointer;
	//   font-size: $font4;
	//   display: block;
	//   object-fit: contain;
	//   transition: $transition1;
	//   margin: 0 1vw;
	// }
	// i:hover {
	//   transform: scale(1.05);
	// }
	.notifications-button {
		transition: $transition1;
		margin-right: 1vw;
	}
	.notifications-button:hover {
		background-color: rgba(255, 255, 0, 0);
		transform: scale(1.05);
		color: white;
	}
	.nav-overlay-img {
		display: block;
		object-fit: contain;
		width: 2.5vw;
		height: 2.5vw;
		min-height: 25px;
		min-width: 25px;
		object-fit: cover;
		border-radius: calc(2.5vw / 2);
		transition: $transition1;
		margin: 0 1vw;
	}
	.dynamic-avatar-border {
		width: 2.5vw;
		height: 2.5vw;
		min-height: 2.5vw;
		min-width: 2.5vw;
		border-radius: calc(2.5vw / 2);
		background-color: $colorShadowLight;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		.dynamic-avatar-text-small {
			font-size: $font2;
		}
	}
}
.my-profile-overlay-link {
	display: flex;
	align-items: center;
	transition: $transition1;
	cursor: pointer;
}

.my-profile-overlay-link:hover {
	transform: scale(1.05);
}

.prof-overlay-text {
	font-size: calc(9px + 0.5vw);
	color: $colorText;
	margin-right: 4px;
}

.nav-overlay-img:hover {
	transform: scale(1.05);
}

@media screen and (max-width: $screenBreak1) {
	.my-profile-overlay-wrapper {
		.nav-overlay-img {
			min-width: 35px !important;
			max-width: 35px !important;
			min-height: 35px !important;
			max-height: 35px !important;
			border-radius: calc(35px / 2) !important;
		}
		.dynamic-avatar-border {
			min-width: 35px !important;
			max-width: 35px !important;
			min-height: 35px !important;
			max-height: 35px !important;
			border-radius: calc(35px / 2) !important;
		}
	}
}

@media screen and (max-width: $screenBreak2) {
	.my-profile-overlay-wrapper {
		.nav-overlay-img {
			min-width: 30px !important;
			max-width: 30px !important;
			min-height: 30px !important;
			max-height: 30px !important;
			border-radius: calc(30px / 2) !important;
		}
		.dynamic-avatar-border {
			min-width: 30px !important;
			max-width: 30px !important;
			min-height: 30px !important;
			max-height: 30px !important;
			border-radius: calc(30px / 2) !important;
		}
	}
}
