@import "../../styling/config";

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 95vh;
  max-height: 95vh;
  max-width: 5vw;
  margin: 0;
  background-color: $colorGreyBgDark;
  .switch-box {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    display: flex;
    min-height: 5vh;
    max-height: 5vh;
    .vert-nav-button {
      transition: $transition1;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 6px;
      padding-right: 6px;
    }
    .selected-nav {
      background-color: $colorGreyHover;
    }
  }

  .chat-container {
    display: flex;
    justify-content: space-between;
    .conversations-box {
      margin-top: 1vw;
      min-height: 86.5vh;
      max-height: 86.5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 6vw;
      max-width: 6vw;
      overflow-y: scroll;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $screenBreak1) {
  .nav-container {
    max-width: 9vw;
    min-width: 9vw;
    .chat-container {
      .conversations-box {
        min-width: 7vw;
        max-width: 7vw;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $screenBreak2) {
  .nav-container {
    max-width: 12vw;
    min-width: 12vw;
    .switch-box {
      flex-direction: column;
      min-height: 11.5vh;
      max-height: 11.5vh;
    }
    .chat-container {
      .conversations-box {
        min-height: 81vh;
        max-height: 81vh;
        min-width: 10vw;
        max-width: 10vw;
        font-size: 10px;
      }
    }
  }
}
