@import "../../../styling/config";

.about-container {
  background-color: $colorGreyPop;
  min-width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .column-1 {
    width: 800px;
    min-width: 300px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vh;
    .about-text {
      font-size: $font2;
      text-align: center;
    }
  }
  .column-2 {
    @extend .column-1;
    margin-bottom: 2vh;
    max-height: 25vh;
    overflow: scroll;
    .notification-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.75vh 0;
      background-color: $colorGreyBg;
      border-radius: $borderRadius2;
      padding: 1vh 1vw;
      .info-stackable-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .user-1-container {
          display: flex;
          align-items: center;
        }
        .user-2-container {
          @extend .user-1-container;
        }
        .notification-username {
          color: $colorPrimary;
          margin-right: 0.5vw;
          margin-left: 0.5vw;
        }
        .notification-username2 {
          @extend .notification-username;
          margin-right: 0;
        }
        .notification-timestamp {
          margin-left: 0.5vw;
          min-width: 4vw;
          color: $colorTextAlt;
        }
        .notification-profile-image {
          min-width: 3vw;
          max-width: 3vw;
          min-height: 3vw;
          max-height: 3vw;
          border-radius: calc(3vw / 2);
          margin-left: 0.5vw;
          transition: $transition1;
          cursor: pointer;
        }
        .dynamic-avatar-border {
          @extend .notification-profile-image;
          background-color: $colorShadowLight;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .dynamic-avatar-text-small {
            font-size: $font3;
          }
        }
        .notification-profile-image:hover {
          transform: scale(1.05);
        }
        .dynamic-avatar-border:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media screen and (max-width: $screenBreak1) {
  .about-container {
    .column-2 {
      .notification-container {
        .info-stackable-container {
          .notification-profile-image {
            min-width: 4vw;
            max-width: 4vw;
            min-height: 4vw;
            max-height: 4vw;
            border-radius: calc(4vw / 2);
          }
        }
        .notification-timestamp {
          min-width: 8vw;
        }
      }
    }
  }
}
@media screen and (max-width: $screenBreak2) {
  .about-container {
    .column-2 {
      .notification-container {
        .info-stackable-container {
          .notification-profile-image {
            min-width: 6.5vw;
            max-width: 6.5vw;
            min-height: 6.5vw;
            max-height: 6.5vw;
            border-radius: calc(6.5vw / 2);
          }
        }
        .notification-timestamp {
          min-width: 12vw;
        }
      }
    }
  }
}
