@import "../../styling/config";

.article-menu {
  margin-top: 1vh;
  min-height: 7vh;
  max-height: 7vh;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // put bg image here when a good one is decided background-color: #0d5678b0;
  .article-navigator {
    margin: 2% 10%;
    margin-right: 1vw;
  }
}
.article-master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 95vw;
  max-width: 95vw;
  .gradient-bar {
    min-width: 100%;
    min-height: 1px;
    max-height: 1px;
    background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
  }

  .friend-request-container {
    margin: 1vh 2vw;
    padding: 1vh 1vw;
    border: 2px solid $colorGreyPop;
    border-radius: $borderRadius1;
    max-width: 900px;
    min-width: 80%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    input {
      min-width: 85%;
    }
  }
  .article-header-info {
    @extend .article-content-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .article-header-date {
      text-align: left;
      color: $colorTextAlt;
      font-size: $font2;
      min-width: 33%;
    }
    .article-read-time {
      @extend .article-header-date;
      text-align: right;
    }
    button {
      min-width: 33%;
    }
  }
}

@media screen and (max-width: $screenBreak1) {
  .article-master-container {
    min-width: 91vw;
    max-width: 91vw;
    .article-content-container {
      .article-paragraph {
        .blog-image {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: $screenBreak2) {
  .article-master-container {
    min-width: 88vw;
    max-width: 88vw;
    .article-content-container {
      .article-paragraph {
        .blog-image {
          width: 95%;
        }
      }
    }
  }
}
