@import "../../styling/config";

.header-rust {
  min-width: 100%;
  margin-bottom: 2vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  min-height: 15vh;
  div {
    min-width: 100%;
    text-align: center;
    font-size: $font4;
  }
}

.feed {
  margin: 1vh 1vw;
  display: flex;
  min-height: 85%;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  li {
    max-width: 30vw;
  }
}
