@import "../../styling/config";

.feed {
  margin: 2vh 1vw;
  display: flex;
  min-height: 85%;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  .player-card {
    max-width: 30vw;
    margin: 2vh 1vw;
  }
  .gang-card {
    max-width: 40vw;
    margin: 2vh 1vw;
  }
}

@media screen and (max-width: 1350px) {
  .feed {
    li {
      max-width: 45vw;
    }
  }
}

@media screen and (max-width: 800px) {
  .feed {
    li {
      max-width: 95vw;
    }
  }
  .player-card {
    min-width: 95vw;
    max-width: 95vw;
  }
}
