@import '../../styling/config';

.fourOFour-container {
	min-width: 100%;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fourOFour-text {
	color: $colorSecondary;
	font-size: $font5;
}

.info-text {
	margin-top: 4vh;
	font-size: $font3;
}

.return-button {
	margin-top: 4vh;
	width: 25%;
	min-width: 210px;
}
