@import '../../styling/config';

.my-profile-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	.no-results-box {
		margin-top: 5vh;
		text-align: center;
		font-size: $font3;
		margin-left: 3.25vw;
	}
}

.connection-list-item {
	min-width: 70%;
}
