@import '../../styling/config';

.nav-menu {
	margin: 0 10%;
	min-width: 80%;
	max-width: 80%;
	display: flex;
	align-items: center;
	.submenu-navigator {
		margin-right: 1vw;
	}
	.submenu-title {
		font-size: $font3;
	}
}

.p-submenu-header {
	font-weight: 1000 !important;
}

.content-container {
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	.no-results-box {
		margin-top: 5vh;
		text-align: center;
		font-size: $font3;
		margin-left: 3.25vw;
	}
}

.connection-list-item {
	min-width: 70%;
}
