@import "../../styling/config";

.tos-master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .gradient-bar {
    min-width: 100%;
    min-height: 1px;
    max-height: 1px;
    background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
  }

  .tos-content-container {
    margin: 1vh 2vw;
    padding: 1vh 1vw;
    background-color: $colorGreyPop;
    border-radius: $borderRadius1;
    max-width: 900px;
    min-width: 80%;
    .tos-sub-title {
      text-align: center;
      margin: 2vh 1vw;
      font-size: $font3;
    }
    .tos-paragraph {
      text-align: left;
      margin: 1vh 4vw;
      font-size: $font2;
      color: $colorTextAlt;
      .link-to-pp {
        font-weight: 800;
        color: white;
        cursor: pointer;
      }
    }
  }
}
