@import "../../styling/config";

.lfm-feed {
  margin: 2vh 1vw;
  display: flex;
  min-height: 85%;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  .gang-span {
    display: inline-block;
    min-width: 40vw;
    margin: 2vh 1vw;
  }
}

@media screen and (max-width: 1350px) {
  .lfm-feed {
    .gang-span {
      min-width: 95vw;
    }
  }
}
@media screen and (max-width: 800px) {
}
