@import "../../styling/config";

.conditionalZ1 {
  z-index: -1;
}

.conditionalZ2 {
  z-index: 5;
}

.edit-profile-form {
  border-radius: $borderRadius1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 35vh;
  left: 50%;
  margin-left: -18vw;
  top: 20%;
  padding: 1em;
  background-color: $colorGreyHover;
  border: 2px solid $colorPrimary;
  // box-shadow: 0 0 5px 1px $colorPrimary;
  opacity: 0;
  p {
    font-size: 1.5em;
    text-align: center;
  }

  .avatar-upload-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-member-input {
      min-width: 80%;
      margin-top: 2vh;
    }
    .channel-name-input {
      @extend .search-member-input;
      margin-bottom: 2vh;
    }
    .channel-selector-input {
      margin-bottom: 2vh;
    }
  }
  .upload-form-btns {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      width: 40%;
    }
  }
  .photo-label {
    text-align: center;
  }
}
.member-search-form {
  @extend .edit-profile-form;
}

.add-channel-form {
  @extend .edit-profile-form;
}

.gang-mgmt-master {
  min-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
  .gang-mgmt-container {
    min-width: 100%;
    background-color: $colorGreyPop;
    border-radius: $borderRadius2;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .gang-mgmt-title {
      text-align: center;
      font-size: $font2;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      .link-text {
        color: $colorSecondary;
      }
    }
    .gradient-bar {
      min-width: 97%;
      max-width: 97%;
      min-height: 1px;
      max-height: 1px;
      background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
    }
    .gang-container {
      height: 7vh;
      min-height: 40px;
      margin: 2vh 0.5vw;
      min-width: 95%;
      max-width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .react-switch-checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      .react-switch-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 50px;
        height: 25px;
        background: grey;
        border-radius: 50px;
        position: relative;
        transition: background-color 0.3s;
        margin-right: 4vw;
      }

      .react-switch-label .react-switch-button {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 23px;
        height: 23px;
        border-radius: 23px;
        transition: 0.3s;
        background: #fff;
        box-shadow: 0 0 1px 0 rgba(10, 10, 10, 0.29);
      }

      .react-switch-checkbox:checked + .react-switch-label {
        background: $colorPrimary;
      }
      .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
        left: calc(100% - 1px);
        transform: translateX(-100%);
      }

      .react-switch-label:active .react-switch-button {
        width: 30px;
      }

      .prof-banner-detail-text {
        font-size: $font2;
        color: $colorText;
        margin: 0 1vw;
      }
      .input-box {
        min-width: 80%;
        align-self: center;
        word-wrap: normal;
        font-size: $font2;
        background-color: $colorGreyBg;
      }
      .select-container {
        min-width: 80%;
        max-height: 100%;
        display: flex;
        padding-right: 2vw;
        justify-content: flex-end;
      }

      .gender-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 80%;
        margin: 1vh 0;
        padding: 0 2vw;
        .box-text {
          font-size: $font2;
        }

        .gender-box {
          cursor: pointer;
          background-color: $colorGreyBg;
          border-radius: $borderRadius1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1vh 1vw;
          padding: 1.25vh 1vw;
          font-size: $font2;
          min-width: 75px;
          min-height: 45px;
          width: 4vw;
          height: 4vw;
          img {
            width: 4vw;
            height: 4vw;
            max-width: 4vw;
            max-height: 4vw;
            border-radius: $borderRadius1;
          }
          .gender-icon {
            width: 2vw;
            height: 2vw;
            max-width: 2vw;
            max-height: 2vw;
          }
        }
        .gender-box:hover {
          outline-style: solid;
          outline-width: 2px;
          outline-color: rgba(255, 255, 255, 0.6);
        }
        .box-selected {
          outline-style: solid;
          outline-width: 2px;
          outline-color: white;
          min-width: 50px;
          min-height: 50px;
          width: 4vw;
          height: 4vw;
        }
      }
    }

    .gang-container-top {
      @extend .gang-container;
      justify-content: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
      z-index: 2;
      .dynamic-avatar-bg {
        width: 4.5vw;
        height: 4.5vw;
        min-width: 4.5vw;
        min-height: 4.5vw;
        border-radius: calc(4.5vw / 2);
        background-color: $colorShadowLight;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .dynamic-avatar-text {
          font-size: $font4;
        }
      }
      .gang-avatar {
        width: 4.5vw;
        height: 4.5vw;
        min-width: 4.5vw;
        min-height: 4.5vw;
        border-radius: calc(4.5vw / 2);
        object-fit: cover;
        margin-left: 2vw;
        cursor: pointer;
      }
      .expand-button {
        margin-right: 2vw;
        padding: 0 1vw;
        padding-top: 0.5vh;
        display: flex;
        align-items: center;
        vertical-align: middle;
        img {
          min-width: 18px;
          max-width: 1.75vw;
        }
      }
    }
    .gang-mgmt-perms-box {
      min-width: 100%;
      display: flex;
      justify-content: space-around;
      .gang-mgmt-perms-col {
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
      }
    }
    .nothing-pending {
      margin-top: 2vh;
      margin-bottom: 2vh;
      color: $colorSecondary;
      text-align: center;
    }
  }
}

.channels-mgmt-container {
  background-color: $colorGreyPop;
  padding: 1vw;
  min-width: 100%;
  border-radius: $borderRadius2;
  margin-bottom: 2vh;
  .channels-mgmt-title {
    text-align: center;
    font-size: $font2;
    margin-bottom: 1.5vh;
  }
  .channels-mgmt-input-box {
    margin-top: 1.5vh;
  }
  .channels-mgmt-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-color: $colorGreyBg;
    border-radius: $borderRadius2;
    margin-top: 1vh;
    margin-bottom: 1vh;
    .channels-mgmt-naming {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.member-mgmt-container {
  @extend .channels-mgmt-container;
  .member-mgmt-title {
    @extend .channels-mgmt-title;
  }
}

@media screen and (max-width: $screenBreak1) {
  .edit-profile-form {
    width: 60vw;
    left: 30%;
    margin-left: -9vw;
  }
}

@media screen and (max-width: $screenBreak2) {
  .edit-profile-form {
    width: 80vw;
    left: 17%;
    margin-left: -2vw;
  }
}
