@import '../../styling/config';

.tile-container {
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	min-height: 82vh;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 4vh;
	.nav-tiles {
		min-width: 100vw;
		max-width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 2vh 2vw;
		flex-wrap: wrap;
	}
	.discover-tiles {
		@extend .nav-tiles;
		align-items: flex-start;
		justify-content: center;
		padding: 2vh 1vw;
	}
}
.extra-tiles {
	flex-wrap: wrap;
	min-width: 90vw;
	padding: 2vw 1vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.lfm-feed {
	margin: 2vh 1vw;
	display: flex;
	min-height: 85%;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	li {
		max-width: 30vw;
		margin: 2vh 1vw;
	}
}

@media screen and (max-width: $screenBreak1) {
	.tile-container {
		min-height: 81vh;
		.nav-tiles {
			min-width: 100vw;
			max-width: 100vw;
		}
		.discover-tiles {
			min-width: 100vw;
			max-width: 100vw;
		}
	}
	.extra-tiles {
		min-width: 100vw;
		max-width: 100vw;
	}
}
