@import "../../styling/config";

.profile-widget {
  background-color: $colorGreyBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  min-height: 10vh;
  min-width: 15vw;
  max-width: 15vw;
  border-radius: $borderRadius1;
  .widget-value {
    margin-bottom: 1vh;
    text-align: center;
    font-size: $font2;
  }
  .widget-label {
    text-align: center;
    font-size: $font1;
    padding: 0 0.5vw;
  }
}

@media screen and (max-width: $screenBreak1) {
  .profile-widget {
    min-width: 25vw;
    max-width: 25vw;
  }
}

@media screen and (max-width: $screenBreak2) {
  .profile-widget {
    min-width: 35vw;
    max-width: 35vw;
    .widget-value {
      font-size: $font1;
    }
    .widget-label {
      font-size: $font1;
    }
  }
}
