@import "../../styling/config";

.profile-select-container {
  display: flex;
  justify-content: space-evenly;
  transition: $transition1;
  min-width: 99%;
  .react-select-container {
    min-width: 100%;
    max-width: 100%;
    margin: 0 2vw 0 1vw;
    padding: 0;
    .react-select__control {
      padding: 0;
      .react-select__value-container {
        .react-select__placeholder {
          font-size: $font2;
        }
      }
    }
  }
}
.profile-select-container:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
  .profile-select-container {
    min-width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .profile-select-container {
    min-width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}
