<footer>
  <div>
    <div>
      <div style="padding: 100px;">
        <br />
        <p style="text-align: center">happy gaming,</p>
        <p style="text-align: center">{{appName}} team</p>
        <p style="text-align: center">email: <a style="color: blue;">{{supportEmail}}</a></p>
        <br />
        <div style="padding: 10px 10px 0 0">
        </div>
      </div>

    </div>

  </div>

</footer>