<footer>
  <div>
    <div style=" background-color: #F1F1F1; ">
      <div style="padding: 100px;">
        <img
          src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg"
          alt="logo.png"
          height="80px"
          style="align-items: center; margin-left: 40px"
        />
        <br />
        <p style="text-align: center">happy gaming,</p>
        <p style="text-align: center">{{appName}} team</p>
        <p style="text-align: center">email: <a style="color: blue;">{{supportEmail}}</a></p>
        <br />
        <div style="padding: 10px 10px 0 0">
          <img
            src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg"
            alt="instagram-logo"
            height="35px"
            width="35px"
            style="padding: 23px; align-items: center; margin-left: 80px"
          />
          <img
            src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png"
            alt="twitter-logo"
            height="35px"
            width="35px"
            style="padding: 23px; align-items: center;"
          />
        </div>
      </div>

    </div>

  </div>

</footer>