<header>
  <div>
    <img
      src="https://res.cloudinary.com/kultured-dev/image/upload/v1663879717/logo-v2-gangs.gg_womiyc.png"
      alt="logo.png"
      style="margin-right: 17%;"
      height="80px"
    />
    <div
      src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png"
      alt="twitter-logo"
      style="padding: 20px; font-size: 60px; font-weight:600;"
    >
      gangs.gg
    </div>
    <hr />
  </div>
</header>