<header>
  <div>
    <img
      src="https://res.cloudinary.com/kultured-dev/image/upload/v1665362246/gangs-email-banner-v2-black_z2g5dx.png"
      alt="logo.png"
      height="80px"
      min-width="100%"
    />
  </div>
</header>