<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
  </head>
  <body>
    <div style="width: 100%;">
      <div style=" padding:30px;">
        {{>header}}
        <p style="margin-left: 25px; font-size: 16px; font-family: Verdana; color: black; ">hi {{username}}, </p>
        <br>
        <p style="margin-left: 25px; font-weight: 100; font-size: 16px; font-family: Verdana; color: black; font-family: Verdana;">You have received a new message on gangs! Visit your messaging menu to chat with your connection.</p>
        <br>
        <div style="width: 497px; height: 133px; color: black; padding: 1px 0 10px 0;">
          <p style="text-align: center; font-weight: 100; font-size: 20px ; line-height: 57px;  font-family: Verdana; margin: 0px;">to view, visit your profile:</p>
          <p style="text-align: center; font-weight: 100; font-size: 50px ; line-height: 57px;  font-family: Verdana;  margin: 0px;">https://gangs.gg/general-profile</p>
        </div>
        <br>
        <br>
        {{>footer}}  
      </div>
    </div>
  </body>
</html>